@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: $dark-yellow;
}


h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 6rem;
}

p, label {
  font-size: 1.6rem;
}

a {
  color: $dark-yellow;

  &:visited, &:active {
    color: $dark-yellow;
  }

  &:hover {
    color: $dark-yellow !important;
  }
}